<% unless user_signed_in? %>
	<div class="hero-unit">
		<h1 style="text-align: center">Story Time</h1>
		<p>This isn't really a home page to some super cool
			<%= link_to "web searching", "http://www.google.com"%>
			application. It's just a project I'm working on.
		</p>
		<p>
			<%= link_to "Sign up for cool things!", new_user_registration_path, class: "btn btn-primary btn-large"%>
		</p>
	</div>
<% end %>