<div class="hero-unit">
	<h1>Das Home Page</h1>
	<p>This isn't really a home page to some super cool
		<%= link_to "web searching", "http://www.google.com"%>
		application. It's just a project I'm working on.
	</p>
	<p>
		<%= link_to "Start Pushing Buttons now!", "gotcha", class: "btn btn-primary btn-large"%>
	</p>
</div>
